@inject HttpClient Http
@inject AppState state

<select class="form-control"  @bind(state.FilterIdSelected)>
    @foreach (var item in filterList)
    {
        <option value=@item.Code>@item.DisplayName</option>
    }
</select>

@functions
{

    FilterLookupItem[] filterList = Array.Empty<FilterLookupItem>();
    public FilterType filterType { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        filterList = await Http.GetJsonAsync<FilterLookupItem[]>($"/api/filters/filters?filtertype={filterType.ToDisplayString()}");
        StateHasChanged();

    }

    protected override async Task OnInitAsync()
    {

    }
}
