@inject HttpClient Http

<select  class="form-control">
    @foreach (var item in filterList)
    {
    <option value=@item.Key>@item.Value</option>
    }
</select>

@functions
{
    private Dictionary<int, string> filterList;

    public FilterType filterType {get; set;}
     

    private void PopulateList(){
     filterList = new Dictionary<int, string>(){
                {0,$"{filterType.ToDisplayString()} Item 1"},
                {1,$"{filterType.ToDisplayString()} Item 2"},
                {2,$"{filterType.ToDisplayString()} Item 3"},
                {3,$"{filterType.ToDisplayString()} Item 4"}
            };
}


    protected override async Task OnInitAsync()
    {
PopulateList();
    }
}
